nav {
  display:grid;
  grid-template-columns: auto 1fr;
  justify-items: start;
  align-items: center;
  height: 10vh;
}

img {
  height: 10vh;
  width: auto;
  padding: 0px;
  margin: 0px;
}

h1 {
  padding: 0px;
  margin: 0px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  height: 90vh;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr;
  width: 50vw;
  background: none;
  background-color: grey;
  padding: 20px;
  border-radius: 5px;
  gap: 10px;
  height: 5vh;
  font-size: 2.5vh;
  justify-content: center;
}
