nav {
  display:grid;
  grid-template-columns: auto 1fr;
  justify-items: start;
  align-items: center;
  height: 10vh;
}

img {
  height: 10vh;
  width: auto;
  padding: 0px;
  margin: 0px;
}

h1 {
  padding: 0px;
  margin: 0px;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr;
  width: 50vw;
  background: none;
  border-radius: 5px;
  gap: 20px;
}
