* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
}

img {
    height: 5vh;
    width: auto;
}

.login-card {
    display: grid;
    grid-template-column: auto 1fr;

.page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
